.tableHeader {
  background-color: #1eb0ff;
}
.tableBody {
  background-color: #16e2ff;
}
.tdContent {
  color: white;
  height: 40px;
}

.table-dark {
  color: white;
  background-color: #343a40;
}

thead th {
  background-color: #1eb0ff !important;
}

.example-form-field {
  margin-right: 20px;
}
