<table class="table table-striped table-dark">
  <thead class="tableHeader">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Result</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cust of customers; let i = index;" class="tdContent">
      <td>{{cust.date}}</td>
      <td>{{cust.firstname}}</td>
      <td>{{cust.lastname}}</td>
      <td>{{cust.phone}}</td>
      <td>{{cust.result}}</td>
    </tr>
  </tbody>
</table>